<!DOCTYPE html>
<html>
<head>
	<title>blockchain</title>
</head>
<body>
	
   <form action="http://127.0.0.1:1234/send" method="post">
	<div style="width: 40%" >
	<center><p><b>Submit your certificate details</b></p>
	<br>
	<textarea style="width: 90%" name="name"></textarea>
	<br>
	<button type="submit" style="width: 90.5%">SUBMIT</button>

</div>
</form>
</center>

</body>
</html>
